/* Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-p: #777;
  --special-heading: #ebeced;
  --special-p: #797979;
  --light-color: #f6f6f6;
  --main-duration: 0.5s;
  --line-height: 1.6;
  --margin-top: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.section {
  padding: 60px 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components */
.special-heading {
  color: var(--special-heading);
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  color: var(--special-p);
  text-align: center;
  margin: -30px 0 0;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
header {
  padding: 20px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 60px;
}
nav .links {
  position: relative;
}
nav .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
}
nav .links .icon span {
  height: 3px;
  background: #333;
  margin-bottom: 5px;
}
nav .links .icon span:first-child {
  width: 100%;
}
nav .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration) linear;
}
nav .links .icon:hover span:nth-child(2) {
  width: 100%;
}
nav .links .icon span:last-child {
  width: 100%;
}

nav .links ul {
  position: absolute;
  background: var(--light-color);
  min-width: 200px;
  right: 0;
  top: calc(100% + 15px);
  z-index: 100;
  display: none;
  transition: var(--main-duration);
}

nav .links ul:before {
  position: absolute;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--light-color) transparent;
  right: 5px;
  top: -20px;
}
nav .links:hover ul {
  display: block;
}

nav .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
nav .links ul li a {
  display: block;
  font-size: 1.1rem;
  padding: 1rem;
  color: #333;
  transition: var(--main-duration);
}
nav .links ul li a:hover {
  padding-left: 1.5rem;
}
/* End Header */

/* Start Landing Section */
.landing {
  background: url("../images/landing.jpg");
  background-size: cover;
  height: calc(100vh - 62.4px);
  position: relative;
}
.landing .intro__text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}
.intro__text-title {
  margin: 0;
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--main-color);
  text-transform: capitalize;
}
.intro__text p {
  font-size: 1.2rem;
  line-height: var(--line-height);
  margin-top: 1rem;
}
/* End Landing Section */

/* Start Features Section */
.features {
  background: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.feature__item {
  padding: 1rem;
  text-align: center;
}
.feature__item i {
  color: var(--main-color);
}
.feature__item-title {
  font-weight: 800;
  margin: 1.5rem 0;
}
.feature__item p {
  line-height: var(--line-height);
  color: var(--pColor);
  font-size: 1rem;
}
/* End Features Section */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: 60px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text h3 {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* Start Services */

/* start Portfolio */
.portfolio {
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding)+60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 357px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 80;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* End About */
/* Start Contact */
.contact {
  background-color: var(--section-background);
}
.contact .info {
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */

/* Start Footer */
footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
}
footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
